<ion-header>
  <ion-toolbar color="danger">
    <ion-title> 
      
      <ion-chip>
          <ion-icon name="home" color="dark"></ion-icon>
          <ion-label>JFOOD</ion-label>
        </ion-chip><ion-searchbar color="danger"></ion-searchbar>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row size="12">
            <ion-card>
                <!-- <ion-card-header>
                    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                    <ion-card-title>Card Title</ion-card-title>
                </ion-card-header>
             -->
                <ion-card-content>
                    
                    <ion-slides pager="true">

                        <ion-slide>
                            <ion-img src="/assets/icon/food1.jpg" ></ion-img>
                            <h2>Welcome to the <b>JFOOD</b></h2>
                            <p>The <b>Home of </b> sweet foods.</p>
                        </ion-slide>
                
                        <ion-slide>
                            <ion-img src="/assets/icon/food2.jpg" ></ion-img>
                            <h2>What is Food?</h2>
                            <p><b>
                                Food is any substance consumed to provide nutritional support for an organism. 
                                It is usually of plant or animal origin, and contains essential nutrients.</b></p>
                        </ion-slide>
                
                        <ion-slide>
                            <ion-img src="/assets/icon/food5.jpg" ></ion-img>
                            <h2>What is Ionic Pro?</h2>
                            <p><b>Ionic Pro</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
                        </ion-slide>
                
                        <ion-slide>
                            <ion-img src="/assets/icon/food6.jpg" ></ion-img>
                            <h2>Ready to Play?</h2>
                        </ion-slide>
                
                    </ion-slides>
                    
                </ion-card-content>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header>
                
                    <ion-card-content>
                        <ion-item-sliding id="item100">
                            <ion-item href="#">
                                <ion-label>
                                <h2>HubStruck Notifications</h2>
                                
                                </ion-label>
                                <ion-note slot="end">
                                10:45 AM
                                </ion-note>
                                <ion-img src="/assets/icon/food6.jpg" style="width: 50px; height:50px"></ion-img>
                            </ion-item>
                            
                            <ion-item-options side="start">
                                <ion-item-option>
                                <ion-icon slot="icon-only" name="heart"></ion-icon>
                                </ion-item-option>
                            </ion-item-options>
                                
                            <ion-item-options side="end">
                                <ion-item-option color="danger">
                                <ion-icon slot="icon-only" name="cart"></ion-icon>
                                </ion-item-option>
                                <ion-item-option>
                                <ion-icon slot="icon-only" name="star"></ion-icon>
                                </ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="6" offset-md="3">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header>
                
                    <ion-card-content>
                        Slider Here
                        Slider Here
                        Slider Here
                        Slider Here
                        Slider Here
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row size="12">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                    <ion-card-title>Card Title</ion-card-title>
                </ion-card-header>
            
                <ion-card-content>
                   
                </ion-card-content>
            </ion-card>
        </ion-row>

        <ion-row size="12">
            
            <ion-col size-md="4" offset-md="">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Fried Rice</ion-card-subtitle>
                    </ion-card-header>
                
                    <ion-card-content>
                        <ion-img src="/assets/icon/food6.jpg" ></ion-img>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="4" offset-md="">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Fried Rice</ion-card-subtitle>
                    </ion-card-header>
                
                    <ion-card-content>
                        <ion-img src="/assets/icon/food6.jpg" ></ion-img>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="4" offset-md="">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Fried Rice</ion-card-subtitle>
                    </ion-card-header>
                
                    <ion-card-content>
                        <ion-img src="/assets/icon/food6.jpg" ></ion-img>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            
        </ion-row>
       

    </ion-grid>
    
</ion-content>
<ion-row>
    <ion-footer>
        <ion-toolbar>
            <ion-title>Powered By Jethro Systems Ltd</ion-title>
        </ion-toolbar>
    </ion-footer>
</ion-row>
